.footer {
    background-color: rgb(55, 50, 53);
    position: relative;
    top: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    padding: 50px 0 50px 10%;
}

.footer > * {
    flex: 1 100%;
}

.footer-container-left {
    margin-left: 10px;
    margin-right: 1.25em;
    margin-bottom: 2em;
}

.footer-about-us {
    margin-top: 50px;
}

.footer-about-us,
.footer-title {
    font-weight: 600;
    font-size: 1.5rem;
    color: #fff;
}

.footer ul {
    padding-left: 0;
}

.footer li {
    line-height: 2em;
}

.footer-container-right {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
}

 .footer-container-right > * {
    flex: 1 50%;
    flex-direction: column;
    margin-right: 1.25em;
    list-style: none;
 }

 .footer-container-right a {
    font-size: 0.9rem;
 }

 .footer-container-right a:hover {
    text-decoration: underline;
 }

 .h-box {
    column-count:  2;
    column-gap: 2.5em;
 }

 .contact,
 .link {
    display: inline-block;
    list-style: none;
    color: #999;
 }

 .social {
    display:inline-flex;
    list-style: none;
 }

 .social a {
    color: #999;
    font-size: 25px;
 }

.footer-container-bottom {
    text-align: center;
    color: #999;
    padding-top: 50px;
    margin-left: -12%;
}

.footer-container-left p {
    padding-right: 20%;
    color: #999;
}

.footer-container-left img {
    margin-left: -2px;
}

@media screen and (min-width: 600px) {
    .footer-container-right > * {
        flex: 1;
    }

    .footer-container-left {
        flex: 1 0px;
    }

    .footer-container-right {
        flex: 2 0px;
    }
}

@media  (max-width: 599px) {
    .footer-container-left img {
        margin-left: -13px;
    }
    
    .footer-container-left p {
        margin-left: -10px;
    }

    .footer-container-left h3 {
        margin-left: -10px;
    }
}

