.overflow-hidden{
  

    text-align: center;
    padding-top: 70px;
}
.drop-in-2{
    position: relative;
    top: 50px ;
   font-size: 20px;
   color: black;
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
   z-index: 1;
}

h5 {
    position: relative;
  top: 40px ;


    font-size: 2vw;
    color: #252839;
    -webkit-text-stroke: 0.3vw #383d52;
    text-transform: uppercase;
    z-index: 1;
  }
  h5::before {
    content: attr(data-text);
    position: absolute;
    
    
    color: #01fe87;
    -webkit-text-stroke: 0vw #383d52;
    border-right: 2px solid #01fe87;
    overflow: hidden;
    animation: animate 6s linear infinite;
  }
  @keyframes animate {
    0%,
    10%,
    100% {
      width: 0;
    }
    70%,
    90% {
      width: 12.5%;
    }
  }