.overflow{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}
.desc{
    position: relative;
    top: 50px;
    font-size: 2.5rem;
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    z-index: 1;
}

.text2 {
    position: relative;
    top: 40px;
    font-size: 4vw;
    color: #252839;
    -webkit-text-stroke: 0.3vw #383d52;
    text-transform: uppercase;
    z-index: 1;
  }
  .text2::before {
    content: attr(data-text);
    position: absolute;
    
    
    color: #01fe87;
    -webkit-text-stroke: 0vw #383d52;
    border-right: 2px solid #01fe87;
    overflow: hidden;
    animation: animate 6s linear infinite;
  }
   @keyframes animate {
    0%,
    10%,
    100% {
      width: 0;
    }
    70%,
    90% {
      width: 25%;
    }
  }
  
  @media  (max-width: 570px) {

    .text2 {
      font-size: 12vw;
    }

    .desc {
      margin-top: 10px;
      font-size: 2rem;
      padding: 0 10px;
      margin-bottom: -15px;
    }

}