
.slider {
    display: flex;
	overflow-x: auto;
    position: relative;
    height: 82vh;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}

.slider::-webkit-scrollbar {
	display: none;
}


.slide{
    opacity: 1;
}

.slide-active{
    
    opacity: 1;
    transition: linear;
    transform: scale(1.08);
}
.slide-active img{
    border-radius: 15px;
    object-fit: cover;
    width: 1100px;
    height: 500px;
    flex: 1 0 100%;
}

.right-arrow{
    position: relative;
    right: -85%;
    top: 300px;
    font-size: 5rem;
    color: black;
    z-index: 1;
    cursor: pointer;
}
.right-arrow:hover{
    color: #f86732;
}
.right-arrow:active{
    transform:scale(0.9);
}
.left-arrow{
    position: relative;
    left: 0%;
    top: 300px;
    font-size: 5rem;
    color: black;
    z-index: 1;
    cursor: pointer;
}
.left-arrow:hover{
    color: #f86732;
}
.left-arrow:active{
    transform:scale(0.9);
}