
.slider {
    display: flex;
	overflow-x: auto;
    position: relative;
    height: 82vh;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}

.slider::-webkit-scrollbar {
	display: none;
}


.slide{
    opacity: 1;
}

.slide-active{
    
    opacity: 1;
    transition: linear;
    transform: scale(1.08);
}
.slide-active img{
    border-radius: 15px;
    object-fit: cover;
    width: 1100px;
    height: 500px;
    flex: 1 0 100%;
}

.right-arrow{
    position: relative;
    right: -85%;
    top: 300px;
    font-size: 5rem;
    color: black;
    z-index: 1;
    cursor: pointer;
}
.right-arrow:hover{
    color: #f86732;
}
.right-arrow:active{
    transform:scale(0.9);
}
.left-arrow{
    position: relative;
    left: 0%;
    top: 300px;
    font-size: 5rem;
    color: black;
    z-index: 1;
    cursor: pointer;
}
.left-arrow:hover{
    color: #f86732;
}
.left-arrow:active{
    transform:scale(0.9);
}


.imgSlider {
    margin: 0 auto;
    overflow: hidden;
    max-width: 1100px;
    border-radius: 15px;
    margin-top:100px;
    margin-bottom: 100px;

  }
  
  .imgshowSlider {
    white-space: nowrap;
    transition: ease 1000ms;
  }
  .imgshowSlider img{
    border-radius: 15px;
    object-fit: cover;
    width: 100%;
    height: 500px;
    flex: 1 0 100%;
  }
  
  .slide {
    display: inline-block;
  
    height: 500px;
    width: 100%;
    border-radius: 40px;
  }
  

  
  .slideButtons {
    text-align: center;
  }
  
  .sileShowButton {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
  
    cursor: pointer;
    margin: 15px 7px 0px;
  
    background-color: #c4c4c4;
  }
  
  .sileShowButton.active {
    background-color: #0d2aad;
  }

  .sliderText{
    position: absolute;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

bottom:-3.3%; 
width:100%;
height: 100px;
background-color: #dd470bb9;
text-align: center;
font-size: 30px;
 }