.slider {
    display: flex;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
    position: relative;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
}
.slider::-webkit-scrollbar {
	display: none;
}

.image{
    width: 100%;
    height: auto;
    border-radius: 10px;
    flex: 1 0 100%;
	object-fit: cover;
}

.right-arrow{
    position: absolute;
    top: 45%;
    right: 380px;
    font-size: 5rem;
    color: black;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}
.right-arrow:hover{
    color: orange;
}
.right-arrow:active{
    transform:scale(0.9);
}
.left-arrow{
    position: absolute;
    top: 45%;
    left: 380px;
    font-size: 5rem;
    color: black;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}
.left-arrow:hover{
    color: orange;
}
.left-arrow:active{
    transform:scale(0.9);
}
.slide{
    opacity: 1;
}

.slide-active{
    
    opacity: 1;
    transition: linear;
    transform: scale(1.08);
}
.slide-active img{
    border-radius: 15px;
    object-fit: cover;
    width: 900px;
    height: 500px;;
}