@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html {
	scroll-behavior: smooth;
}


/*SCROLLBAR Styling*/
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #cbc5c5;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #1b0b4c; 
}

/*NAVIGATION BAR*/
.nav
{
	width: 100%;
	/* background-color: rgb(55, 50, 53); */
	background-color: rgb(36, 32, 44);
	display: flex;
	align-items: center;
	padding: 20px 2%;
	position: fixed;
	top: 0px;
	z-index: 10;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

.list-switch {
	display: grid;
	grid-template-columns: repeat(6, auto);
	grid-gap: 30px;
	list-style: none;
	text-align: center;
	width: 87vw;
	justify-content: flex-end;
}

/* #list-switch a
{
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-size: 15px;
	color: #d2dbe2;
	display: block;
	text-decoration: none;
	text-align: center;
} */

#list-switch a
{
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-size: 15px;
	text-decoration: none;
	color: #fff;
	transition: all 0.3s ease 0s;
}

#list-switch img {
	width: 20px;
	margin-right: 10px;
	/* transform: translateY(5px); */
	/* padding-top: 5px; */
}

.navLink {
	position: relative;
	top: 10px;
}

/* #list-switch li 
{
	list-style: none;
	display: inline-block;
	padding: 0px 20px;
} */

#list-switch a:hover
{
	color: #FA4B37;
    
	transform: scaleX(1);
}

 




.nav button
{
	padding: 9px 25px;
	background: linear-gradient(to right, #FA4B37, #DF2771);
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
	transition: all 0.3s ease 0s;
}

.fa-bars {
	color: #fff;
}

.fa-times {
	color: #fff;
}

.menu-icon {
	display: none;
}

@media  (max-width: 570px) {

	body {
		overflow-x: hidden;
	}

	.list-switch {
		display: flex;
		grid-gap: 4.5px;
		flex-direction: column;
		width: 100%;
		height: 725px;
		position: absolute;
		top: 72px;
		left: -100%;
		opacity: 1;
		transition: all 0.5s ease;
	}

	.list-switch.mobile {
		background: rgba(0, 0, 0, 1);
		left: 0;
		opacity: 1;
		transition: all .5s ease;
		z-index: 10;
	}

	#list-switch a {
		text-align: center;
		right: 3.5%;
		padding: 3rem;
		width: 100%;
		display: table;
	}

	#list-switch a:hover {
		background-color: #c5c5dc;
		border-radius: 0;
		transition: all 0.5s ease-in-out;
	}

	.menu-icon {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		transform: translate(-100%, 50%);
		font-size: 1.6rem;
		cursor: pointer;
	}

	.fa-times {
		font-size: 2rem;
		transform: translate(-15%, 6%);
	}
}
  
  