body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  position: relative;
  overflow-x: hidden;
  background-color: #cfd8dc;
}

img {
  width: 200px;
  height: 50px;
}
.container {
  background-color: aliceblue;
  width: 100%;
  height: fit-content;
  position: fixed;
  left: 0px;
  top: 0px;
  margin: 0px;
  padding: 0px;
}

.navlist {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin: 0px;
  padding: 1rem 0;
}

.navitem {
  list-style: none;
  margin-right: 2rem;
}

.navitem a {
  text-decoration: none;
  color: rgb(78, 73, 73);
}

.navlogo:first-child {
  margin-right: auto;
  margin-left: 20px;
}

.nav-menu-bar {
  list-style: none;
  margin-right: 2rem;
  display: none;
}
.nav-menu-bar a {
  text-decoration: none;
  color: rgb(78, 73, 73);
}

.navlogo {
  list-style: none;
  margin-right: 2rem;
}
.navlogo a {
  text-decoration: none;
  color: rgb(78, 73, 73);
}
/*sidebar is off/*/
.sidebar {
  background-color: aliceblue;
  position: fixed;
  width: fit-content;
  height: 100%;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 20px;
  border-radius: 10px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

.sidebar a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-box {
  width: 100%;
  height: 76px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-box {
  margin-top: 10px;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 10px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

.icon-box:hover {
  background-color: rgb(131, 126, 126);
}

.icon-box a {
  text-decoration: none;
  color: black;
}

.icon-box a:hover {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.icon-text {
  padding-left: 20px;
}
.icon-box-2 {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 10px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  margin-top: auto;
}

.icon-box-2:hover {
  background-color: rgb(131, 126, 126);
}

.icon-box-2 a:hover {
  color: white;
}

#sidebar.active {
  /* show the sidebar when the active class is present */
  display: block;
}

@media screen and (max-width: 770px) {
  .nav-menu-bar {
    display: block;
  }
  .navitem {
    display: none;
  }
  .navlogo {
    display: block;
  }
}
