@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	scroll-behavior: smooth;
}
body {
	
	
  
	font-family: 'Open Sans', sans-serif;
}





::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #cbc5c5;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #1b0b4c; 
}


.nav
{
	width: 100%;
	background-color: rgb(55, 50, 53);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 20px 2%;
	position: fixed;
	top: 0px;
	z-index: 10;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

.nav li, a, button
{
	float: left;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 13px;
	color: #d2dbe2;
	display: block;
	text-decoration: none;
	text-align: center;
}

.nav ul li img {
	width: 20px;
	margin-right: 10px;
	transform: translateY(5px);
	padding-top: 5px;
}

.nav ul li 
{
	list-style: none;
	display: inline-block;
	padding: 0px 20px;
}

.nav ul li a
{
	transition: all 0.3s ease 0s;
}

.nav ul li a:hover
{
	color: #FA4B37;
    
	transform: scaleX(1);
}

 




.nav button
{
	padding: 9px 25px;
	background: linear-gradient(to right, #FA4B37, #DF2771);
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
	transition: all 0.3s ease 0s;
}

  
  