.Sponsors {
    position: relative;
    width: 92vw;
    margin: auto;
    text-align: center;
  }

  .Sponsors .key {
    color: #000;
    margin-bottom: 1em;
    font-size: 2rem;
  }

  .Sponsors-header img {
  margin-right: 20px;
  
  }

  @media  (max-width: 570px) {

    .Sponsors .key {
      font-size: 1.5rem;
    }

    .Sponsors img {
      width: 100%;
      margin-bottom: 20px;
    }
}