 .header {
    text-align: center;
    font-size: 2rem;
    margin: -10px 0 20px 0;
    color:black;
    font-weight: bold;
}

.center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
    background-color: #3161b5;
    margin: auto;
    width: 70%;
    border-radius: 20px;
}

.center p {
    color: white;
}

.box1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 6rem;
}

.box3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 6rem;
}

.box4 {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media  (max-width: 570px) {

    .header h2 {
        font-size: 1.5rem;
    }

    .center {
        grid-template-columns: 1fr;
        width: 80%;
    }

    .box1 {
        margin-bottom: -30px;

    }

    .box2 {
        padding: 0 10px 20px 30px;
    }

    .box3 {
        padding: 0 20px 20px 30px;
        margin-bottom: 30px;
    }

    .box4 {
        display: none;
    }

}


