 .who-title {
    text-align: center;
    font-size: 2rem;
    margin: -10px 0 20px 0;
    color:black;
    font-weight: bold;
}
.box1>img{
    width: 400px;
    height: 250px;
    box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
    background-image: linear-gradient(147deg,#0b9ca9 0%, #5956ad 74%);
    border-radius: 20px;
    transform: translateX(-110px);
}
.box4>img{
    float: right;
    width: 400px;
    height: 250px;

    box-shadow: -20px 13px 30px 10px rgba(252, 56, 56, 0.2);
    background-image: linear-gradient(147deg,#0b9ca9 0%, #5956ad 74%);
    border-radius: 20px;
    transform: translateX(110px);
}
.center {
    width: 100%;
    position: relative;
    max-width: 1200px;
    margin: auto;
    background: linear-gradient(to right, #0b9ca9, #5956ad);
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 25px;
    border-radius: 25px;
     height: 550px;
    
}

.center .box2{
    font-family: "Lucida Console", "Courier New", monospace;   
    font-size: 20px;
    position: absolute;
    width: 600px;
    top: 20%;
    right:10%;
    color: white;
    opacity: 0.8;
}
.center .box3{
    font-family: "Lucida Console", "Courier New", monospace;   
    font-size: 20px;
    position: absolute;
    width: 500px;
    top: 60%;
    left:15%;
    color: white;
    opacity: 0.8;
}


@media  (max-width: 570px) {

    .who-title {
        font-size: 1.75rem;
    }

    .center {
        grid-template-columns: 1fr;
        width: 80%;
    }

    .box1 {
        margin-bottom: -30px;

    }

    .box2 {
        padding: 0 10px 20px 30px;
    }

    .box3 {
        padding: 0 20px 20px 30px;
        margin-bottom: 30px;
    }

    .box4 {
        display: none;
    }

}


