 .header{
    text-align: center;
    font-size: 30px;
    margin: 20px 0;
    color:black;
}

.center{
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
    display: inline-grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    background-color: rgb(105, 138, 187);
    position:relative;
    left: 200px;
    margin:auto;
    padding: 20px 0;
    width: 80%;
    height: 100%;
}

.box1{
    /* border-style:outset; */
    border-radius: 10px;
    width: 450px;
    float: left;
    margin:20px;
    font-size:20px;
    position: relative;
    left:100px;
}

.box2{
    /* border-style:outset; */

    float: right;
    margin: 20px;
    font-size:20px;
    color: white;
    padding:30px;
    position: relative;
    right:100px;
    text-align: left;
}
.box3{
    /* border-style:outset; */
    float: left;
    margin :20px;
    font-size:20px;
    color: white;
    padding:30px;
    position: relative;
    left:100px;
    text-align: left;
}
.box4{
    /* border-style:outset; */
    width: 450px;
    position: relative;
    left:176px;
    margin:20px;
    
    font-size:20px;
}  
 
