.whylearn{
	width: 100%;
	padding: 50px 0px 0px 0px;
}
.why-title {
	color: black;
	font-size: 2rem;
    font-weight: bold;
	text-align: center;
}
.button-container{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 16vh;
}

.btn-1{
	position: relative;
	width: 250px;
	height: 70px;
	border: none;
	color:  white;
    font-weight: bold;
	background-color:#f9004d;
	transition: ease-out 0.3s;
	font-size: 2rem;
	outline: none;
	border: 3px solid 42 #131616;
    border-radius: 25px;
}

/* .btn-1::before {
	transition: 0.5s all ease;
	position: absolute;
	top: 0;
	left: 50%;
	right: 50%;
	bottom: 0;
	opacity: 0;
	content: "";
    border-radius: 25px;
	background-color: #416bb9;
} */

.btn-1:hover{
	transition: 1s all ease;
	box-shadow: inset 300px 0 0 0 #416bb9;
    cursor: pointer;
    /* color: #000; */
}
.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}

.card{
	height: 365px;
	width: 335px;
	padding: 20px 35px;
	background: #3161b5;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}

.card svg {
	position: inherit;
	left: 110px;
}

svg{
margin-top: 60px;


}
.card i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: white;
    line-height: 50px;



}
h2{
	color: white;
	font-size: 23px;
	margin-bottom: 15px;
}
.pra p{
	color: white;
	font-size: 16px;
	line-height: 16px;
	margin-bottom: 27px;
}

@media  (max-width: 570px) {

    .title h2 {
		font-size: 1.5rem;
		margin-bottom: 25px;
	}

	.box {
		display: grid;
		grid-template-columns: 1fr;
	}

	.card {
		margin: auto;
		margin-bottom: 30px;
	}

}