


  .objectVideos {  
  
    position: relative;
    
    width: 800px;
    height: 200px;
    margin:auto;    
    color: aliceblue;
    outline:1px solid rgb(238, 219, 219);
   
   
  }
  .Space {
padding: 30px;  }
  .objectVideos .wyl{
    font-size: 16px;
    font-weight: bold;
    padding-left: 3%;

    
    
  }

.objectVideos .wyl-list{
    list-style-type: circle;
    
    width:50%;
    padding-top:10px;
    float:right;
    vertical-align: top;
    font-size: 14px;
   
    /* You can also add some margins here to make it look prettier */
}
.objectVideos .b{
 font-size: 14px;
  width:45%;
  padding-top:10px;
  padding-left: 20px;
  list-style-type: circle;
  
  }

.objectVideos .c{

 
  width:100%;
  padding-top:10px;
  
}


.discription .header{
    position: relative;
   text-align: center;
   font-size: 20px;
    color: rgb(224, 210, 210);
    
   padding-top: 5%;
}
.discription .sub-header{
  position: relative;
  text-align: center;
  
 font-size: 16px;
  color: rgb(237, 232, 232);

  

}



.curved-background__curved:before {
  content: "";
    
  position: absolute;
  
  
  width: 100%;
 
  height:145%;

  background: #2d2c41;
  

    
  }
.padding{
  padding: 10%;
  position: relative;
}










  


  .sidenav {
    
    width: 800px;
    position: relative;
   
    z-index: 1;
    margin-top: 10%;
    margin: 0 auto;
    margin-bottom: 5%;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 10px;
    -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
    
  }
  
  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display:block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  button.dropdown-btn{
    padding-left: 10px;
}
  .dropdown-container.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  transition: max-height 350ms ease-in-out;
  }
  .dropdown-container.inactive {
    opacity: 1;
    visibility: hidden;
    transform: translateY(-20px);
  }
  .line-2  {
    padding: 6px 8px 6px 16px;
    display:relative;
    font-size: 10px;
   float: right;
  
   
  }

  .dropdown-btn { border-bottom: 1px solid #4b4a5e; }
  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
  }
  
  /* Main content */
  
  
  /* Add an active class to the active dropdown button */
  /*.active {
    background-color: green;
    color: white;
  }*/
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
  background-color: rgb(107, 98, 98);
  padding-left: 8px;
  }
  .dropdown-container i {
    float: left;
    padding: 6px 8px 6px 16px;
    padding-left: 30px;
  }
  /* Optional: Style the caret down icon */
  .fa-caret-down {
    padding: 6px 8px 6px 16px;

    float: left;
    margin-right: 10px;
  }
  .active>i{
    transform: rotate(180deg);
    
   
  }
  .Coursediscription{
    margin-top: 5%;
    position: relative;
    height:300px;
    width: 400px;
    left:32%;
   z-index: 2;
    color: #f1f1f1;
  }
  .Coursediscription .DescriptionHeader{
    font-size: 15px;
  }
  .Coursediscription .DescriptionText{
    font-size: 10px;
  }


  /*for Demo Only*/
.demo-row {
  background: #2d2c41;

  padding: 50px 0;
}


/*Implement*/
.sponsor-feature {
    background-color: #fff;

    border-radius: 5px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
}
