.on {
  color:yellow;
}
.off {
  color: #ccc;
}



.video-player-popup,videoPlayer {
  margin-top: 3%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;

  z-index: 1000;
}
.closeIcon{
  position: relative;
  top: -5%;
color: aquamarine;
  background: none;
  border: 0ch;
  float: right;
  z-index: 10001;

}
/* ".videoPlayer{
  position: relative;
  left : -10%;
}" */








  
 
  




  .objectVideos {  
  
    position: relative;
    padding: 20px;
    padding-top: 40px;
    max-width: 800px;
    min-height: 300px;
    margin:auto;    
    color: aliceblue;

    background: rgba(0, 0, 0, 0.4);
   
  }
  .Space {
padding: 30px;  }

  .objectVideos .wyl{
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    padding-left: 3%;


    
    
  }

.objectVideos .wyl-list{
    list-style-type: circle;
    
    width:50%;
    padding-top:10px;
    float:right;
    vertical-align: top;
    font-size: 16px;
   
    /* You can also add some margins here to make it look prettier */
}
.objectVideos .b{
 font-size: 14px;
  width:45%;
  padding-top:10px;
  padding-left: 20px;
  list-style-type: circle;
  
  }

.objectVideos .c{

 
  width:100%;
  padding-top:10px;
  
}


.discription .header{
    position: relative;
   text-align: center;
   font-size: 28px;
    color: rgb(255, 255, 255);
    
   padding-top: 8%;
}
.discription .sub-header{
  position: relative;
  text-align: center;
  
 font-size: 16px;
  color: rgb(237, 232, 232);

  

}




  .couresesVideos{
    position: relative;
    background:rgb(46, 93, 107)	;
padding-bottom: 10%;
  }










.courseContenttitle{
 font-size: 20px;
text-align: center;  
color: aquamarine;
}
  


  .sidenava {
    position: relative;
    max-width: 800px;
   
    z-index: 1;

    margin: 0 auto;


    overflow-x: hidden;
    -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
    
  }
  
  /* Style the sidenav links and the dropdown button */
  .sidenava a {
    border-bottom:1px solid#f1f1f1;

    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #080808;
    display:block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  button.dropdown-btn{
    padding-left: 10px;
}
  
  
  .line-2  {
    padding: 6px 8px 6px 16px;
    display:relative;
    font-size: 15px;
   float: right;
  
   
  }

  .dropdown-btn {
    
    border-radius: 6px 6px 6px 6px;
    padding: 28px;
    color: #444;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin: 10px 0 0;
    font-family: "Inconsolata", monospace;
    font-size: 20px;
    border: 3px solid black;
  }
  /* On mouse-over */
  .sidenava a:hover, .dropdown-btn:hover {
    color: #20dd07;
  }

  .dropdown-btn.one {
    background: #ffe587;
  }
  
  .dropdown-btn.two {
    background: #a1db73;
  }
  
  .dropdown-btn.three {
    background: #f0afe9;
  }

  
  .dropdown-btn.four {
    background: #a0acea;
  }

  .dropdown-btn.five {
    background: #fe9687;
  }
  /* Main content */
  
  
  /* Add an active class to the active dropdown button */
  /*.active {
    background-color: green;
    color: white;
  }*/
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
  background-color: rgb(224, 219, 219);
  padding-left: 8px;
  border: 3px solid black;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
 
  border-radius: 6px 6px 6px 6px;
  }





  .dropdown-container i {
    float: left;
    padding: 6px 8px 6px 16px;
    padding-left: 30px;


  }
  /* Optional: Style the caret down icon */
  .fa-caret-down {
    margin-top: 5px;
    float: left;
    margin-right: 10px;
    -moz-transition:all .2s linear 0s;
  -webkit-transition:all .2s linear 0s;
  transition:all .2s linear 0s;
  }
  .active>i{
    transform: rotate(180deg);
    
   
  }
  .Coursediscription{
    position: relative;
    min-block-size: 25ch;
    inline-size: 100%;
    max-inline-size: 800px;
    background: rgba(86, 212, 138, 0.959);
    padding: 2rem;
    box-sizing: border-box;
    margin: auto;
    color: #000;
    margin-top: 100px;
    border: 3px solid black;

  }
  .Coursediscription .DescriptionHeader{
    font-size: 18px;
  }
  .Coursediscription .DescriptionText{
    font-size: 13px;
  }


  /*for Demo Only*/



/*Implement*/
.sponsor-header{
text-align: center;
padding: 20px;
font-style: italic;
}
.row {
    
   
    
    
    align-items: center;
    justify-content: center;
   

}
.sponsor-feature{
  position: relative;
  background-color: #f1f1f1;
  margin: 10px;
  padding: 25px;
  font-size: 30px;
  width: 250px;
  height: 100px;
  border-radius: 5px;
  display:flex;
  align-items: center;
  justify-content: center;
  

}




.reviewsContainer{
  position: relative;
  padding-top: 20px;
  padding-left: 20px;

  margin: auto;
  margin-top: 5%;
   max-width: 800px;
   height:auto;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(6, 65, 133);



   
    background: rgb(150, 150, 209);
 
 
}
.averageRating{
  color: rgb(0, 0, 0);
  border-bottom: 3px solid black;
  padding-bottom: 8px;
  margin-right: 20px;

}
.reviewsContainer .submitButton{
  float:right;
  position: absolute;
  margin-top: 12px;
  margin-right: 25px;
  padding: 3px;
  top:0%;
  right: 0%;
  max-width: 6rem;
	border-radius: 10px;
	border: 3px solid #0e110f;
	background: none;
	color: #1f10aa;
	overflow: hidden;
	transition: color 800ms ease, transform 500ms ease;

}

.reviewsContainer .submitButton::before {
	content: "";
	width: 100%;
	height: 11rem;
	background: #1ad02f;
	position: absolute;
	left: 0;
	top: 110%;
	border-radius: 50%;
	transition: top 500ms ease;
	z-index: -1;
}

.reviewsContainer .submitButton:hover:before {
	top: -150%;
}

.reviewsContainer .submitButton:hover {
	background: #02d802;
	color:#111;
}

.reviewsContainer .submitButton:active {
	transform: scale(0.9);
}

.ratingContainer{
  width: 300px;
  height: 330px;

  background-color: #6b6c9e;
  position:absolute;
  left:55%;
  transform: translate(-50%, -50%);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 10000;
  border: 3px solid rgb(0, 0, 0);

}

.star-rating >button{
  position: relative;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

   
  left:33%;
  top: 5px;
  
  
}
.ratingContainer>textarea{
  font-size: small;
  position: relative;
  left: 10%;
  width: 80%;
  height: 150px;
  margin-top: 10%;
}
.ratingContainer .submitButton{
  position: relative;
  background-color: #a08bad;
  right:30%;
top:-13px;
 

}
.ratingContainer>h1{
  color:#0e0c0c;
  font-size: 17px;
  text-align: center;
  margin-top: 10%;

}

.ratingcloseIcon{
  background-color: white;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 20px;
  border: 0ch;
 
  float: right;
  position: relative;
  top: -2%;
  right:-2%;
}
.ratingcloseIcon:hover{
  color: #0a942c;
}
.textReview{
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 10px;
}





.reviews {
  margin-top: 20px;
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  justify-content: space-between;
}
.reviews .eachReview .top-review .reviewerName {
  font-size: 18px;
  color: rgb(180, 207, 214);
 
margin-top: 20px;
  margin-right: 15px;
}




.reviews .eachReview .top-review .reviewerName:first-letter  {
  text-transform: uppercase;

}






.reviewDiscription{


color: #f1f1f1;
}
.reviewDiscription>p{

margin-bottom: 5px;
  color: #f8f3f3;
  text-transform: capitalize;

  }
  
  .reviewDiscription>p2{
   
    font-size: 13px;


    
      }




.reviews .eachReview{
  width: 45%;
  margin-right: 10px;
  margin-left:20px;
}

.viewMore{
  margin-top: 10px;
  margin-bottom: 10px;
  background: none;
}
.viewLess{
  margin-bottom: 10px;
  background: none;
  float:right;
  margin-right: 15px;
}
.icon-c {
  color: yellow;
  margin-bottom: 5px;
}

.editReview{
  border: 2px solid #555555;
  background: none;
  padding: 4px 8px;
  text-align: center;

  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  color: white;

}
.editReview:hover {
  background-color: #4CAF50;
  color: black;
}
.deleteReview{
  background:none;
  border: 2px solid #555555;
   padding: 4px 8px;
  text-align: center;

  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  color: white;

}
.deleteReview:hover {
  background-color: #a53e4f;
  color: black;
}