.upm-container {
    background-color: rgb(55, 56, 56);
    width: 50%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.upm-left-side {
    background-color: rgb(36, 37, 37);
    width: 25%;
    height: 100vh;
}

.upm-navMenu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.upm-navMenu a {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 1px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.upm-navMenu a:hover {
    border-left-color: rgb(255, 255, 255);
    border-left-style: solid;
    background-color: rgb(55, 56, 56);
}

.upm-title {
    margin-left: 10px;
}

.upm-right-side {
    width: 75%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.upm-card {
    background-color: #f3f5f8;
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    color: black;
}

.upm-background-avatar {
    background-color: rgb(36, 37, 37);
    width: 100%;
    height: 150px;
    display: flex;
}

.upm-avatar {
    border-color: black;
    border-radius: 100px;
    border-width: 1px;
    border-style: solid;
    width: 100px;
    height: 100px;
    display: flex;
    border-radius: 100px;
    position: absolute;
    margin: auto;
    top: 100px;
}

.upm-avatar img {
    width: 100px;
    height: 100px;
    display: flex;
    border-radius: 100px;
}

.upm-edit {
    margin-left: auto;
    margin-top: 10px;
    margin-right: 10px;
    background-color: rgb(31, 107, 207);
    border-color: transparent;
    padding: 5px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.upm-info-container {
    position: static;
    background-color: rgb(255, 255, 255);
    margin-top: 60px;
    width: 95%;
    height: fit-content;
    border-radius: 10px;
    margin-bottom: 10px;
    color: black;
}

.upm-item {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 97%;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.upm-item label {
    color: rgb(117, 111, 111);
    font-size: 15px;
    font-weight: bolder;
    font-family: sans-serif;
    margin-bottom: 10px;
}

.upm-item input {
    color: rgb(117, 111, 111);
    padding: 5px;
    border-radius: 8px;
    border-color: rgb(59, 56, 51);
    border-style: solid;
    border-width: 1px;
    width: fit-content;
}

.upm-spacer {
    display: flex;
}

.upm-spacer button {
    width: 11%;
    height: 30px;
    margin-left: auto;
    background-color: rgb(79, 81, 83);
    border-color: transparent;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}