@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');


* {
    border: 0px;
    box-sizing: border-box;
}


.upmcontainer {
    min-height: 100vh;
    max-width: 1400px;
    width: 100%;
    margin: 0px auto;
    display: flex;
    padding-top: 3%;
}



.upm-left-side {
    flex-basis: 10%;
    min-height: 100vh;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-end;
}


.upm-navigation {
    flex-basis: 80%;
    min-height: 100vh;
    max-height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.upm-navigation li {
    list-style: none;
}

.li-1 {
    list-style: none;
    margin-top: 40px;
}

.upm-item-1 {
    width: 100%;
    height: fit-content;
    display: flex;
    margin-top: auto;
}

.upm-item-1 a {
    flex-basis: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    text-decoration: none;
    font-size: 30px;
}

.upm-log {
    position: absolute;
    bottom: 150px;
}

.upm-right-side {
    flex-basis: 85%;
    width: 100%;
    min-height: 100vh;
    height: 100%;
}

.upm-box-1 {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    list-style: none;
    flex-direction: column;
}

.upm-ver {
    font-family: 'Poppins', sans-serif;
    margin-left: 10px;
}

.upm-sp {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.upm-card-container-1 {
    width: 80%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 50px;
}

.upm-icons-s {
    color: rgb(255, 255, 255);
}

.upm-back-upload {
    min-width: 30vw;
    max-width: 300px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}


.upm-back-upload img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
    border-style: solid;
    border-color: rgb(53, 52, 52);
    border-width: 3px;
    background-color: #24202C;
    border-radius: 8px;
}


.upm-back-upload button {
    position: relative;
    right: 35px;
    top: 80px;
    background-color: #24202C;
    border-radius: 100px;
    width: 35px;
    height: 35px;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upm-saver {
    background-color: transparent;
    padding: 20px;
    color: white;
    font-weight: 1000px;
    font-size: 20px;
    border-radius: 11px;
    width: fit-content;
    height: fit-content;
    margin-right: 20px;

}

.upm-saver-1 {
    background-color: transparent;
    padding: 20px;
    color: white;
    font-weight: 1000px;
    font-size: 20px;
    border-radius: 11px;
    width: fit-content;
    height: fit-content;
    position: relative;
    bottom: 14rem;
    left: 4.3rem;
}

.upm-roles {
    background-color: black;
    padding: 20px;
    color: white;
    font-weight: 1000px;
    font-size: 20px;
    border-radius: 11px;
    width: fit-content;
    height: fit-content;
    margin-right: 20px;
    margin-top: 10px;
}



.upm-card-container-1 h2 {
    font-family: 'Poppins', sans-serif;
    margin-right: 20px;
}


.upm-avatar {
    position: relative;
    bottom: 170px;
    ;
    left: 20px;
}

.upm-avatar img {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    position: relative;
    border-style: solid;
    border-color: rgb(110, 106, 106);
    border-width: 1px;
}

.upm-avatar button {
    background-color: #24202C;
    position: relative;
    top: 70%;
    left: -10%;
    border-radius: 100px;
    width: 35px;
    height: 35px;
    border-style: solid;
    border-color: rgb(247, 247, 247);
    border-width: 1px;
    color: white;
    cursor: pointer;
}

.upm-card-container-2 {
    max-width: 1000px;
    margin: 0 auto;
    height: fit-content;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    list-style: none;
    flex-direction: column;
    border-top-width: 11px;
    border-color: rgb(110, 106, 106);
    margin-top: 50px;

    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 13px 8px #d0d0d0;
    border-top-color: rgb(100, 94, 94);
    border-style: solid;
    background-color: rgba(255, 255, 255, 0.534);
}

.upm-card {
    max-width: 1000px;
    width: 98%;
    margin: 10px auto;
}

.upm-card h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    font-size: 30px;
    margin-bottom: 20px;
}

.upm-card p {
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    margin-right: 10px;
}

.upm-outer-form {
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.upm-form-container {
    width: 100%;
    max-width: 1160px;
    margin-right: auto;
}

.upm-form-container label {
    font-family: 'Poppins', sans-serif;
}

.upm-form-input-holder {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    width: 80%;
}

.upm-ic {
    color: rgb(110, 106, 106);
}

.upm-form-input-holder input {
    border: 2px solid #eee;
    padding: 5px 10px 5px 50px;
    font-size: 18px;
    line-height: 30px;
    outline: 0;
    display: block;
    width: 100%;
    height: 65px;
}

.upm-form-input-holder-rad {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 20%;
}

.upm-form-input-holder-rad input {
    border: 2px solid #eee;
    width: 10%;
    height: 65px;
}

.upm-form-input-holder-rad label {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    margin-left: 20px;
    font-size: 20px;
}

.upm-form-input-holder .in {
    border: 2px solid #eee;
    padding: 5px 10px 5px 50px;
    font-size: 18px;
    line-height: 30px;
    outline: 0;
    display: block;
    width: 100%;
    height: 65px;
    padding-top: 20px;
    padding-bottom: 200px;
}

.icon {
    position: absolute;
    left: 15px;
    top: 0;
    font-size: 25px;
    color: #4b00ff;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upm-form-rad {
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 40px;

}

.upm-form {
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.upm-form-1 {
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.upm-form-2 {
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.upm-form-button-holder {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    height: fit-content;
}

.upm-form-button-holder button {
    font-size: 18px;
    line-height: 30px;
    outline: 0;
    display: block;
    width: 40%;
    height: 65px;
    text-align: center;
    border-radius: 10px;
    color: white;
    font-weight: bolder;
    font-size: 20px;
}

.upm-del {
    background-color: red;
    border-color: #ffffff;
    border-radius: 1px;
    border-width: 1px;
    border-style: solid;
    margin-right: 20px;
    cursor: pointer;
}

.upm-dis {
    background-color: gray;
    border-color: #A12D2F;
    border-radius: 1px;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
}

.upm-form-button-holder-2 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: fit-content;
}

.upm-form-button-holder-2 button {
    margin-right: 20px;
    width: fit-content;
    height: fit-content;
    border-radius: 100px;
}

.upm-icon-sub:hover {
    color: rgb(177, 113, 113);
}

.upm-icon-del:hover {
    color: rgb(44, 216, 159);
}

.upm-format {
    background-color: #4b00ff;
}

.upm-card-container-4 {
    max-width: 1000px;
    margin: 0 auto;
    height: fit-content;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    list-style: none;
    flex-direction: column;
    margin-top: 0px;
}

.upm-edit-button {
    background-color: transparent;
    cursor: pointer;
}


body.black {
    background-color: black;
}