.title {
  text-transform: uppercase;
  font-size: 8vw;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divider {
  margin: 10px;
  width: 100%;
  background-color: grey;
}
.animated-title {
  opacity: 0;
  transform: translateX(-100%);
  animation: slideIn 1s ease-in-out forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
    font-weight: bold;
  }
  
}
