
.quiz-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.final-container {
    margin-bottom: 30px;
}

.final-container .options {
    margin-bottom: 20px;
}

.options {
    padding: 8px;
    border: 3px solid rgb(210, 193, 10);
    cursor: pointer;
    width: 80%;
    background-color: white;
    color: steelblue;
    font-weight: bold;
    border-radius: 7;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
}

.options:hover {
    background-color: #ddd;
}

.Quiz-questionTitle {
    margin-top: 40px;
    font-size: 1.5rem;
    color: black;
    text-align: center;
}

.Quiz-questionNo {
    display: block;
    font-size: 1.25rem;
    color: black;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}

.Quizz-ul {
    list-style-type: none;
}

.Quizz-ul li {
    margin: 5px;
    display: block;
    margin: auto;
}

.Quiz-button {
    padding: 10px 20px;
    margin: 20px 20px 40px 20px;
    background-color: #5995fd;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.Quiz-button:hover {
    background-color: #4d84e2;
}