.Quiz-title {
    font-size: 2rem;
    color: black;
    margin-top: 100px;
    text-align: center;
}

.Quiz-title1 {
    font-size: 1.1rem;
    color: black;
    text-align: center;
}

.body{
    
    display: flex;
    flex-direction: column;
    justify-content: center;    
    color:white;
    font-size: 18px;
 }