.options {
    padding: 8px;
    border: 3px solid rgb(210, 193, 10);
    cursor: pointer;
    width: 80%;
    background-color: white;
    color: steelblue;
    font-weight: bold;
    border-radius: 7;
    margin:auto;
}

.Quiz-title {
    font-size: 1.5rem;
    color: black;
    margin-top: 100px;
    text-align: center;
}

.Quiz-title1 {
    font-size: 1rem;
    color: black;
    text-align: center;
}

.Quizz-ul {
    list-style-type: none;
}

.Quizz-ul li {
    margin: 5px;
}

.Quiz-button {
    display: flex;
    margin:auto;
}