/* QUESTION/TIMER/LEFT SECTION */

.settings__select {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  flex: 0.8;
  justify-content: space-evenly;
  color: #adf908;
}

.QuizSetting {
  text-align: center;
  font-size: 36px;
  font-family: 'Poppins', sans-serif;
  color: #333;
  margin-top: 4.6%;
  background: linear-gradient(to right, #2260cc, #04befe);
  padding: 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.question-section {
  margin: auto;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: #04214d;
  min-width: 80%;
  max-height: 90vh;
  box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.7);
  opacity: 85%;
  border-radius: 10px;
  top: -10px;
}

.question-count {
  margin-bottom: 20px;
  margin-top: 80px;
  color: #ffffff;
}

.question-count span {
  font-size: 28px;
}

.question-text {
  margin: 16px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}

/* ANSWERS/RIGHT SECTION */

.answer-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  background: linear-gradient(to bottom, #ffffff, #f1f1f1);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  margin-bottom: 30px;
}

button:hover {
  background-color: #555e7d;
}

button svg {
  margin-right: 5px;
}

.answerButtons {
  width: 450px;
  height: 140px;
  padding: 20px;
  background-color: #12d1d8b2;
  margin: 20px;
  color: black;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 5px 2px rgba(5, 5, 5, 0.7);
  border: 0px solid rgb(74, 12, 
  218);
  transition: 0.2s;
  font-size: 11pt;
  font-weight: 300;
  box-shadow: inset 0px 0px 0px 0px rgb(74, 12, 218);
  font-size: 20px;
}


.quizTesdwdwt {
  height: 1000px;
  padding-top: 10%;
  padding-bottom: 15%;
  min-height: 100vh;
}

.score-section {
  position: relative;
  font-size: 24px;
  display: flex;
  justify-content: center;
  top: 30%;
}

.content {
  display: flex;
  justify-content: space-around;
  font-family: 'Poppins', sans-serif;
  color: #120505;
  background: linear-gradient(to right, #a6bce1, #04befe);
  padding: 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.settings {
  width: 45%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.banner {
  width: 55%;
  align-self: center;
  padding: 8px;
}

@media (max-width: 800px) {
  .content {
    flex-direction: column-reverse;
    align-items: center;
  }
  
  .banner {
    width: 85%;
    padding: 0;
    padding-top: 20px;
  }
  
  .settings {
    width: 100%;
  }
}

