
  
  /* QUESTION/TIMER/LEFT SECTION */
  .question-section {
    position: relative;
    width: 40%;
    position: relative;
    margin: auto;

  }
  
  .question-count {
    margin-bottom: 20px;
  }
  
  .question-count span {
    font-size: 28px;
  }
  
  .question-text {
    margin: 16px;
    height: 40px;

  }
  
  .timer-text {
    background: rgb(230, 153, 12);
    padding: 15px;
    margin-right: 20px;
    border: 5px solid rgb(255, 189, 67);
    border-radius: 15px;
    text-align: center;
  }
  
  /* ANSWERS/RIGHT SECTION */
  .answer-section {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-etween;
    margin: auto;
  }
  
  button {
    font-size: 16px;
    color: #ffffff;
    background-color: #2b2bbc;
    border-radius: 15px;
    display: flex;
    padding: 5px;
    margin: 8px;
    justify-content: flex-start;
    align-items: center;
    border: 5px solid #234668;
    cursor: pointer;
  }
  
  .correct {
    background-color: #2f922f;
  }
  
  .incorrect {
    background-color: #ff3333;
  }
  
  button:hover {
    background-color: #555e7d;
  }
  
  button:focus {
    outline: none;
  }
  
  button svg {
    margin-right: 5px;
  }
  .quizTesdwdwt{
    padding-top:10%;
    padding-bottom: 15%;
    min-height: 100vh;

  }
 
  .score-section {
    position: relative;
    font-size: 24px;
display: flex;
justify-content: center;
top:30%;
  }
  .content {
  display: flex;
  justify-content: space-around;
}

.settings {
  width: 45%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.banner {
  width: 55%;
  align-self: center;
  padding: 8px;
}

@media (max-width: 800px) {
  .content {
    flex-direction: column-reverse;
    align-items: center;
  }
  .banner {
    width: 85%;
    padding: 0;
    padding-top: 20px;
  }
  .settings {
    width: 100%;
  }
}

.settings__select {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  flex: 0.8;
  justify-content: space-evenly;
}
