* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Add some basic styling to the body */
body {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: rgba(238, 238, 238, 0.29);
}

/* Style the header section */
.topPart {
  margin-top: 120px;
  display: flex;

  align-items: center;
  background-color: rgba(255, 255, 255, 0);
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.left {
  display: flex;
  flex: 1; /* Take up equal space */
  text-align: center;
  background-color: #333;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.5);
  border-radius: 30px 30px 30px 30px;
}
.right {
  flex: 1; /* Take up equal space */
  display: flex;

  background-color: rgba(76, 101, 101, 0.482);
  flex-direction: row;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.5);
  border-radius: 15px 15px 15px 15px;
}

.tasks {
  list-style: none;
  margin-bottom: 20px;
  margin-left: 50px;
}
.tasks ul {
  list-style: none;
}
.tasks h3 {
  text-transform: uppercase;
}
/* Style the stats list */
.stats {
  list-style: none;
  margin-left: 300px;
}
.stats ul {
  list-style: none;
}
.stats h3 {
  text-transform: uppercase;
}
/* Style the profile tab */
.profileTab {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-right: 20px;
}

/* Style the profile picture */
.profilePicture {
  width: 184px;
  height: 168px;
  border-radius: 25%;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-top: 10px;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.5);
}

/* Style the rank image */
.rankimg {
  width: 190px;
  height: 70px;
  margin-left: 5px;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.5);
  padding-bottom: 10px;
}

/* Style the selected badges container */
.badges-and-xpbar {
  flex: 2;
  display: flex;
  align-items: center;
  margin-left: -200px;
  margin-top: 70px;

  flex-direction: column;
}

/* Style the selected badges */
.selectedBadges img {
  width: 50px;
  height: 50px;
  margin-right: 50px;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.xp-container {
  width: 500px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  margin-top: 50px;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.5);
}

.xp-bar {
  /* this can be set dynamically using JavaScript */
  height: 100%;
  background-color: #27ff06;
  border-radius: 30px;
}

/* Style the tasks list */

/*Tile for badge collage */
.titles {
  color: rgb(245, 245, 245);
  text-transform: uppercase;
  text-align: center;
  padding: 10px, 10px;
  border-radius: 15px 15px 15px 15px;
  background-color: #404847;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.5);
  padding-top: 10px;
  padding-bottom: 10px;
}
/* Style the collage container */
.collagePosition {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

/* Style the available badges */
.avaiableBadges {
  width: 55px;
  height: 55px;
  margin: 24px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
/*FOOTER:*/
.table-styled {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.15);
  margin-left: 3%;
  margin-right: 3%;
  width: 93%;
}
.table-styled thead tr {
  background-color: #41404e;
  color: #ffffff;
  text-align: left;
  border-radius: 50px;
}
.table-styled th,
.table-styled td {
  padding: 12px 15px;
  border-radius: 50px;
}
.table-styled tbody tr {
  border-bottom: 1px solid #dddddd;
}
.table-styled tbody tr:nth-of-type(even) {
  background-color: #f3f3f379;
}
.table-styled tbody tr:last-of-type {
  border-bottom: 2px solid #41404e;
}
.table-styled tbody tr.active-row {
  font-weight: bold;
  color: white;
  background: darkslateblue;
}
