@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.body, input {
    font-family: 'Poppins', sans-serif;
}

.confirm-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.confirm-container:before {
    content: '';
    position: absolute;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    background-image: linear-gradient(-45deg, #4481eb 0%, #04befe 100%);
    top: 54.5%;
    transform: translateY(-50%);
    transition: 1.8s ease-in-out;
}

.confirm-message {
    z-index: 5;
}

.confirm-btn {
    width: 200px;
    height: 49px;
    border: none;
    outline: none;
    border-radius: 49px;
    cursor: pointer;
    background-color: #5995fd;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    transition: .5s;
}

.popup {
    width: 400px;
    background-color: #fff;
    border-radius: 6px;
    position: absolute;
    top: 54.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
}

.popup img {
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2 {
    color: #333;
    font-size: 38px;
    font-weight: 500;
    margin: 50px 0 10px 0;
}

.popup button {
    width: 340px;
    margin-top: 50px;
    padding: 10px 0;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

@media (max-width: 870px) {

    .confirm-container:before {
        content: '';
        position: absolute;
        width: 450px;
        height: 450px;
        border-radius: 50%;
        background-image: linear-gradient(-45deg, #4481eb 0%, #04befe 100%);
        top: 54.5%;
        transform: translateY(-50%);
        transition: 1.8s ease-in-out;
    }

    .popup {
        width: 250px;
        background-color: #fff;
        border-radius: 6px;
        position: absolute;
        top: 54.5%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        padding: 0;
        color: #333;
    }

    .confirm-btn {
        height: 49px;
        border: none;
        outline: none;
        border-radius: 49px;
        cursor: pointer;
        background-color: #5995fd;
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        transition: .5s;
    }

    .popup img {
        width: 100px;
        margin-top: -50px;
        border-radius: 50%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
    
    .popup h2 {
        color: #333;
        font-size: 38px;
        font-weight: 500;
        margin: 30px 0 10px 0;
    }

    .popup p {
        font-size: 16px;
    }

    .popup button {
        width: 180px;
        margin: 20px 0;
        padding: 10px 0;
        border: 0;
        outline: none;
        font-size: 20px;
        border-radius: 50px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
}