@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

.body{
  font-family: 'Poppins', sans-serif;
}

.reset {
    position: absolute;
    top: 52.5%;
    transform: translate(-50%, -50%);
    left: 75%;
    width: 50%;
    transition: 1s 0.7s ease-in-out;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
}

.reset-panels-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

.reset-panel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    z-index: 6;
  }
  
  .reset-left-panel {
    pointer-events: all;
    padding: 6rem 17% 2rem 12%;
  }

  .reset-panel .panel-content {
    color: #fff;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }
  
  .reset-panel h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 1;
    font-size: 1.5rem;
  }

  .reset-panel p {
    font-family: 'Poppins', sans-serif;
    font-size: 0.95rem;
    padding: 0.7rem 0;
  }

@media (max-width: 870px) {
    .reset {
        width: 100%;
        top: 74%;
        transform: translate(-75%, -100%);
        transition: 1s 0.8s ease-in-out;
      }

      .reset-panels-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 1fr;
      }
    
      .reset-panel {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 2.5rem 8%;
        grid-column: 1 / 2;
      }

      .reset-left-panel {
        grid-row: 1 / 2;
      }

      .reset-panel .panel-content {
        padding-right: 15%;
        transition: transform 0.9s ease-in-out;
        transition-delay: 0.8s;
      }
    
      .reset-panel h3 {
        font-size: 1.2rem;
      }
    
      .reset-panel p {
        font-size: 0.7rem;
        padding: 0.5rem 0;
      }
}

@media (max-width: 570px) {
    .reset-panel .panel-content {
        padding: 0.5rem 1rem;
      }

      .reset-left-panel {
        padding-top: 21%;
      }
}