
.CreateForum-Title{
    margin-top: 70px;
    position: relative;
    padding: 0 40px;
    color: black;
    font-size: 2rem;
}
.thread-create{
    width: 96%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 50px;
    padding: 15px 15px;
    padding-bottom: 100px;
    background-color: #a6aefd;
    border: 2px solid black;
    border-radius: 25px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}
.createthread-title{
    margin-top: 15px;
    position: relative;
    padding-left: 30px;
}
.createthread-title label{
    font-family: 'Poppins', sans-serif;
    position: relative;
    padding-right: 5px;
    font-size: 23px;
}
#cthread-title{
    position: relative;
    display:inline-block;
    font-family:'Poppins', sans-serif;
    font-size: 20px;
    width: 90%;
    border-radius: 10px;
}

.createtags{
    margin-top: 15px;
    position: relative;
    padding-left: 109px;
}
.createtags label{
    position: relative;
    padding-right: 5px;
    font-size: 23px;
}
#c_tags{
    position: relative;
    display:inline-block;
    font-family:'Poppins', sans-serif;
    font-size: 20px;
    width: 94%;
    border-radius: 10px;
}

.ThreadCreator{
    width: 97%;
    margin: auto;
    margin-top: 25px;
    background-color: #ffffff;
    border: 2px solid black;
    border-radius: 25px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}
.ThreadTextCreatorPanel{
    display: grid;
    border-radius: 20px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 1px solid black;
    position: relative;
    background-color: rgb(177, 177, 177);
    height:50px;
    overflow:hidden;
}
.ThreadCreatorIcons{
    margin-left: 30px;
    list-style: none;
    user-select: none;
}

.ThreadCreatorIcons li{
    display: inline-block;
    padding: 0 15px;
    padding-top: 3px;
}

.ThreadCreatorIcons li:hover{
    background-color:#858383;
    padding-top: 3px;
    border-radius: 20px;
}
.ThreadCreatorIcons li:active{
    background-color: #6193ff;
    box-shadow: 0 1px #666;
    transform:scale(0.99);
}

.ThreadCreatorIcons li img{
    height:40px;
    width: 40px;
}

.Createline{
    height:45px;
}

.ThreadCreatorText textarea{
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    resize: vertical;
    font-size: 1.5rem;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-style: none;
    outline-style: none;
    background-color: white;
}

.ThreadCreatorTextTrash{
    user-select: none;
    padding-left: 30px;
}
.threadcreatetrashbutton{
    padding:0.25%;
    margin-top: 15px;
    border: 1px outset black;
    border-radius: 10px;

}
.threadcreatetrashbutton:hover{
    background-color: #b1b1b1;

}
.threadcreatetrashbutton:active {
    background-color: #b1b1b1;
    transform:scale(0.98);
  }
.threadcreatetrashbutton img{
    height:40px;
    width:40px;
}

.ThreadTextEditorCreate{
    user-select: none;
    margin-top: 20px;
    align-items: center;
    position:relative;
    display:inline;
    float:right;
    border: 1px outset black;
    border-radius: 15px;
    padding: 5px 10px;
    margin-right: 40px;
    background-color: #6193ff;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}
.ThreadTextEditorCreate:hover{
    background-color:#4882ff;
}
.ThreadTextEditorCreate:active{
    box-shadow: 0 1px #646464;
    transform:scale(0.99);
}
.ThreadTextEditorCreate img{
    height:40px;
    width:50px;
}
.ThreadTextEditorCreate label{
    padding-left: 10px;
    font-family:'Poppins', sans-serif;
    font-size: 25px;
    color: black;
    border-radius: 10px;
}
