.navbar-spacing{
    margin-top: 80px;
}
.forums-title{
    margin-top: 20px;
    position: relative;
    padding: 20px 40px;
    font-size: 25px;
}

.ForumPage-list{
    user-select: none;
    background-color: aliceblue;
    display: inline-block;
    position: relative;
    justify-content: left;
    margin-left: 40px;
    
}
.ForumPage-list a{
    display: inline-block;
    background-color: rgb(255, 255, 255);
    padding: 10px 20px;
    font-size: 20px;
    color:black;
    cursor: pointer;
    outline: auto;
    outline-style: inset;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

.ForumPage-list a:active {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    outline-color: black;
}
.PageOptions{
    display: inline;
    float: right;
    position: relative;
    block-size: fit-content;    
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    margin-right: 40px;
    height:0;
}
.PageOptions a{
    display: inline-block;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    block-size: fit-content;
    
}

.PageOptions a img{
    user-select: none;
    position: relative;
    margin:auto;
    height:50px;
    width:55px;
    border: 2px solid black;
    padding: 2px;
    -webkit-user-drag: none;
}


#subbtn{
    position: relative;
    user-select: none;
    padding: 0 20px;
    color: black;
    font-family:'Poppins', sans-serif;
    font-size: 31px;
    background-color: white;
    border-width: 2px;
    margin:auto;
}

#subbtn:hover{
    background-color: orange;
}

#subbtn:active{
    transform: scale(0.99);
}

.PageSort {
    bottom:7px;
    display:inline-block;
    position: relative;
    cursor: pointer;
    height: 50px;
    width : 55px;
    user-select: none;

}
.PageSort:active{
    background-color: orange;
}
.pagesort-optn {
    width:225px;
    height:0px;
    overflow: hidden;
    transition: height .4s ease;
    list-style: none;
    padding-left:0;
    z-index: 1;
    position: absolute;
    background-color: black;
    
}
.pagesort-optn :hover{
    background-color: orange;
}

.pagesort-optn li a{
    padding: 10px;
    width: 100%;
    background-color: black;
    color:white;
    font-size:20px;
    text-decoration: none;
    text-align: left;
}

#psortbtn { /* hidden checkbox*/
    position: absolute; opacity: 0; height: 0px;
}    

#psortbtn:checked + .pagesort-optn {
    height: 150px;
    background-color: black;
    z-index: 1;
    position: absolute;
    
}

.Thread-Messages{
    width: 96%;
    margin: auto;
    margin-top: 25px;
    background-color: #a6aefd;
    border: 2px solid black;
    border-radius: 25px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    margin-bottom: 30px;
    padding: 25px;
}
.ThreadProfile{
    display: inline-block;
    margin-top: 0;
    position: relative;
    background-color: white;
    border: 2px solid black;
    border-radius: 40px;
    height: 200px;
    width: 200px;
}
.ThreadProfile img{
    padding: 15px;
    width: 200px;
    user-select: none;
    -webkit-user-drag: none;
}
.ThreadParagraph{
    float:right;
    position: relative;
    width:86%;
    height: 200px;
    background-color: white;
    border: 2px solid black;
    border-radius: 40px;
}
.ThreadParagraph p{
    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 10px;
    justify-content: center;
    font-size: 1.5rem;
}
.ThreadUser{
    display: inline-block;
    margin-left: 2.5%;
    font-family:'Poppins', sans-serif;
    font-size: 1.5rem;
}
.ThreadTime{
    display: inline-block;
    margin-top: 1%;
    margin-left: 8%;
    font-family:'Poppins', sans-serif;
    font-size: 1.5rem;
}
.ThreadInteraction{
    display: inline;
    float:right;
    margin-top: 10px;
}
.ThreadLike{
    display: inline;
    position: relative;
    top: 10px;
    border:1px black solid;
    border-radius: 20px;
    padding:15px 10px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    user-select: none;
    
}
.ThreadLike img{
    height: 40px;
    width: 40px;
}
.ThreadLike:active{
    transform: scale(0.97);
}
.ThreadReply{
    float: right;
    display: inline;
    border:1px outset black;
    border-radius: 20px;
    padding: 5px 15px;
    font-size: 25px;
    margin-left: 20px;
    background-color: #6193ff;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    user-select: none;
}

.ThreadReply img{
    height: 30px;
    width: 35px;
}
.ThreadReply label{
    padding-left: 10px;
    font-family:'Poppins', sans-serif;
    font-size: 30px;
    color: black;
    border-radius: 10px;
}
.ThreadReply:hover{
    background-color: #4882ff;
}
.ThreadReply:active{
    transform: scale(0.97);
}


.ThreadReplySection{
    width: 96%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 50px;
    padding: 15px 15px;
    padding-bottom: 50px;
    background-color: #a6aefd;
    border: 2px solid black;
    border-radius: 25px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    margin-bottom: 120px;
}
.ThreadTextEditor{
    width: 96%;
    margin: auto;
    margin-top: 25px;
    background-color: #ffffff;
    border: 2px solid black;
    border-radius: 25px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}
.ThreadTextEditorPanel{
    display: grid;
    border-radius: 20px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 1px solid black;
    position: relative;
    background-color: rgb(177, 177, 177);
    height:55px;
    overflow:hidden;
}
.ThreadEditorIcons{
    margin-left: 30px;
    list-style: none;
    user-select: none;
}

.ThreadEditorIcons li{
    display: inline-block;
    padding: 0 15px;
    padding-top: 3px;
}

.ThreadEditorIcons li:hover{
    background-color:#858383;
    padding-top: 3px;
    border-radius: 20px;
}
.ThreadEditorIcons li:active{
    background-color: #6193ff;
    box-shadow: 0 1px #666;
    transform:scale(0.99);
}

.ThreadEditorIcons li img{
    height:45px;
    width: 45px;
}

.Replyline{
    height:45px
}

.ThreadEditorText textarea{
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    resize: vertical;
    font-size: 1.5rem;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-style: none;
    outline-style: none;
    background-color: white;
}

.ThreadTextEditorTrash{
    display: inline-block;
    user-select: none;
    padding-left: 35px;
}
.Threadtrashbutton{
    margin-top: 20px;
    border: 1px outset black;
    border-radius: 10px;
    padding: 0.25%;

}
.Threadtrashbutton:active {
    background-color: #b1b1b1;
    box-shadow: 0 1px #666;
    transform:scale(0.99);
  }
.Threadtrashbutton img{
    height:40px;
    width:40px
}

.ThreadTextEditorReply{
    display: inline;
    user-select: none;
    margin-top: 20px;
    align-items: center;
    position:relative;
    display:inline;
    float:right;
    border: 1px outset black;
    border-radius: 15px;
    padding: 5px 10px;
    margin-right: 40px;
    background-color: #6193ff;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}
.ThreadTextEditorReply:hover{
    background-color:#4882ff;
}
.ThreadTextEditorReply:active{
    box-shadow: 0 1px #646464;
    transform:scale(0.99);
}
.ThreadTextEditorReply img{
    height:40px;
    width:50px;
}
.ThreadTextEditorReply label{
    padding-left: 10px;
    font-family:'Poppins', sans-serif;
    font-size: 25px;
    color: black;
    border-radius: 10px;
}