.fl-navbar-spacing{
    margin-top: 60px;
}
.forums-title h2{
    margin-top: 10px;
    position: relative;
    color: black;
    font-size: 2rem;
    margin-bottom: -5px;
}

.thread-pages{
    display: inline-block;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0.1rem;
    user-select: none;
    
    
}
.thread-pages li{
    list-style: none;
    display: inline-block;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}
.thread-pages li a{
    display: inline-block;
    padding: 0px 20px;
    font-size: 2rem;
    outline: 3px;
    outline-style: outset;
    background-color: white;
    text-decoration: none;
    color:black;
    user-select: none;
}
.thread-pages li.previous a,
.thread-pages li.next a,
.thread-pages li.break a {
  color: #5a18b1;
}
.thread-pages li.active a {
    background-color: #9d5bf3;
    color: rgb(0, 0, 0);
}
.thread-pages li.disabled a {
    color: rgb(148, 148, 148);
}
.thread-pages li.disable,
.thread-pages li.disabled a {
cursor: default;
}

.LandingOptions{
    display: inline;
    float: right;
    position: relative;
    block-size: fit-content;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    margin-right: 40px;
}
.LandingOptions a{
    display: inline-block;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    height: 50px;
    
}

.LandingOptions a:active{
    background-color: orange;
}

.LandingOptions a img{
    user-select: none;
    position: relative;
    margin:auto;
    height:50px;
    width:55px;
    border: 2px solid black;
    padding: 2px;
}

.LandingSort {
    cursor: pointer;
    width : 55px;
    height: 50px;
    user-select: none;
}

.landingsort-optn {
    width:165px;
    height:0px;
    overflow: hidden;
    transition: height .4s ease;
    list-style: none;
    padding-left:0;
    z-index: 1;
    position: absolute;
    background-color: black;
}
.landingsort-optn :hover{
    background-color: orange;
}

.landingsort-optn li a{
    padding: 10px;
    width: 100%;
    background-color: black;
    color:white;
    font-size:20px;
    text-decoration: none;
    text-align: left;
}

#lsortbtn { /* hidden checkbox*/
    position: absolute; opacity: 0; height: 0px;
}    

#lsortbtn:checked + .landingsort-optn {
    height: 150px;
    background-color: black;
    z-index: 1;
    position: absolute;
}


/* Thread-list */

.Thread-List{
    width: 96%;
    margin: auto;
    margin-top: 25px;
    padding: 15px 15px;
    background-color: #6870b9;
    border: 2px solid black;
    border-radius: 25px;
    margin-bottom: 25px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    margin-bottom: 120px;
}
.thread{
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px 10px;
    margin-bottom: 15px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}
.topic-items{
    text-align: left;
    position: relative;
}
.thread-title{
    color: black;
    text-decoration: none;
    font-size: 25px;
    display: inline-block;
}
.thread-title:hover{
    text-decoration: underline;
    color: rgb(255, 161, 19);
}
.tags{
    display: inline-block;
    margin: -3px 0px;
    padding: 5px;
}

.tags li{
    display: inline-block;
    margin-left: 5px;
    padding:0px 3px;
    border-style: inset;
    border-radius: 10px;
    border-color: rgb(75, 75, 75);
}
.thread-creatorname{
    margin: 5px;
}
.Stats{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    Float:right;
    margin:auto;
    padding-right: 50px;
}
.Stats h4{
    font-size: 20px;
}
.Stats img{
    height:25px;
    width:25px;
}