.navbar-spacing{
    margin-top: 90px;
}
.searchresult-title h2{
    margin-top: 20px;
    position: relative;
    padding: 10px 40px;
    user-select: none;
    color: black;
    font-size: 2rem;
}

.SearchResult-list{
    background-color: aliceblue;
    display: inline-block;
    position: relative;
    justify-content: left;
    margin-left: 40px;
    
}
.SearchResult-list a{
    display: inline-block;
    background-color: rgb(255, 255, 255);
    padding: 10px 20px;
    font-size: 20px;
    color:black;
    cursor: pointer;
    outline: auto;
    outline-style: inset;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

.SearchResult-list a:active {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    outline-color: black;
}
.SearchResultOptions{
    display: inline;
    float: right;
    position: relative;
    block-size: fit-content;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    margin-right: 5%;
}
.SearchResultOptions a{
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    height: 50px;
    
}
.SearchResultOptions a:active{
    background-color: orange;
}

.SearchResultOptions a img{
    user-select: none;
    position: relative;
    margin:auto;
    height:50px;
    width:55px;
    border: 2px solid black;
    padding: 2px;
}

.SearchResultSort {
    position: absolute;
    cursor: pointer;
    width : 55px;
    height: 50px;
    user-select: none;
    direction: rtl;
}

.searchresultsort-optn {
    
    width:160px;
    height:0px;
    overflow: hidden;
    transition: height .4s ease;
    list-style: none;
    padding-left:0;
    background-color: black;
}
.searchresultsort-optn :hover{
    background-color: orange;
}

.searchresultsort-optn li a{
    display: inline-block;
    padding: 10px;
    width: 100%;
    background-color: black;
    color:white;
    font-size:20px;
    text-decoration: none;
    text-align: left;
}

#srsortbtn { /* hidden checkbox*/
    position: absolute; opacity: 0; height: 0px;
}    

#srsortbtn:checked + .searchresultsort-optn {
    height: 150px;
    background-color: black;
    z-index: 1;
    position: absolute;
}

.ThreadResultsFound h2{
    margin-top: 10px;
    margin-left: 40px;
    position: relative;
    color: black;
    font-size: 1.5rem;
    margin-bottom: -5px;
}

/* Thread-list */

.ThreadResults-List{
    width: 96%;
    margin: auto;
    margin-top: 15px;
    padding: 15px 15px;
    background-color: #6870b9;
    border: 2px solid black;
    border-radius: 25px;
    margin-bottom: 25px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}
.threadresult{
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px 10px;
    margin-bottom: 15px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}
.result-items{
    text-align: left;
    position: relative;
}
.result-title{
    color: black;
    font-size: 25px;
    display: inline-block;
}
.result-title:hover{
    text-decoration: underline;
    color: rgb(255, 161, 19);
}
.rtags{
    display: inline-block;
    margin: -3px 0px;
    padding: 5px;
}

.rtags li{
    display: inline-block;
    margin-left: 5px;
    padding:0px 3px;
    border-style: inset;
    border-radius: 10px;
    border-color: rgb(75, 75, 75);
}
.result-creatorname{
    margin: 5px;
}
.rStats{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    Float:right;
    margin:auto;
    padding-right: 50px;
}
.rStats h4{
    font-size: 20px;
}
.rStats img{
    height:25px;
    width:25px;
}