
.donations-container {
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #0b0b0b;
  }
  .section{
  text-align: center;
  margin: auto;
  margin-bottom: 40px;
  padding: 20px 0px;
  font-family: 'Poppins', sans-serif;
  border:1px solid #0b0b0b;
  width: 50%;
  }
  
  .donationstitle{
      text-align: center;
      font-size: 36px;
      font-family: 'Poppins', sans-serif;
      color: #333;
      margin-top: 5.5%;
      background: linear-gradient(to right, #fafafa, #efefef);
      padding: 20px;
      border-radius: 10px;
      box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  }
  .formtitle{
      text-align: center;
      font-family: 'Poppins', sans-serif;
      color: black;
  }
  .par{
    
      text-align: center;
      font-family: 'Poppins', sans-serif;
      font-size: 36px;
      color: #333;
      background: linear-gradient(to right, #fafafa, #efefef);
      padding: 20px;
      border-radius: 10px;
      box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
      color: rgb(5, 4, 4) ;
      margin-top: 4%;
      margin-bottom: 40px;
  }
  .p{
      text-align: center;
      font-family: 'Poppins', sans-serif;
      color: rgb(5, 4, 4) ;
      margin-top: 3%;
      margin-bottom: 40px;
  }
  .img{
      margin: auto;
      display: block;
      width: 60%;
      height: 60%;
  }
  .donationsform {
      display: block;
      width: 50%;
      margin: 0 auto 50px auto;
      padding: 50px;
      font-family: Arial, sans-serif;
      font-size: 14px;
      background-color: #f7f7f7;
      border-radius: 5px;
      box-shadow: 0 0 10px #ccc;
  }
  label{
  color: black;
  }
  .donationsform label {
      display: block;
      margin-bottom: 10px;
      margin-top: 10px;
  }
  .donationsform input[type="text"] {
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
      box-shadow: 0 0 5px #ccc;
  }
  .btn-next {
      display: flex;
      margin: 0 auto;
      align-items: center;
      padding: 10px 20px;
      font-size: medium;
      background-color: #5995fd;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  }
  .btn-next:hover {
      background-color: #555;
  } 