.billingcontainer {
  margin-bottom: 200px;
}

.billingtitle {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    color: #333;
    background: linear-gradient(to right, #fafafa, #efefef);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    margin-top: 5rem;
  }
  .buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .buttons button {
    text-align: center;
    padding: 10px 20px;
    margin: 10px;
    background-color: #5995fd;
    color: white;
    border: none;
    cursor: pointer;
  }
  form{
    display: none;

  }
  .billing-form {
    width: 50%;
    margin: 0 auto 50px auto;
    padding: 50px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
    margin-bottom: 70px;
  }
  .billing-form p {
    color: #000;
    padding: 3px;
    margin-bottom: 5px;
    background-color: rgb(218, 189, 189);
    border: 1px solid red;
    width: 25%;
    border-radius: 10px;
    text-align: center;
    font-size: 0.7rem;
  }
 
  .billing-form label {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .billing-form input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #ccc;
  }
  .btn-submit{
    display: flex;
    margin: 0 auto;
    align-items: center;
    padding: 10px 20px;
    font-size: medium;
    background-color: #5995fd;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-submit:hover {
    background-color: #555;
  }