.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  background-color: #d3d3d3;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.center-container {
  text-align: center;
  background-color: #d3d3d3;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex: 1;
}

.center-text {
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}

.footer {
  background-color: #333;
  color: #d3d3d3;
  padding: 10px;
  text-align: center;
}

.label{
    /*display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;*/

    display: block;
    text-align: center;
}

.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center vertically in the viewport */
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 75%;
  max-width: 400px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.footer {
  margin-top: auto; /* Push the footer to the bottom */
}