.btn{
    width: 275px;
    height: 50px;
    border: none;
    color: #000;
    background-color: lightblue;
    border-radius: 7px;
    box-shadow: inset 0 0 0 0 #f9e506;
    transition: ease-out 0.3s;
    font-size: 1.75rem;
    outline: none;
    align-items: center;
    margin-top: 30px;
}
.grid{
    display:grid;
    place-items: center;
}