.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center vertically in the viewport */
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 75%;
    max-width: 400px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  